
  
  nav {
    background-color: black;
    display: inline-block;
  }
  a:hover {
    background-color: tomato;
  }

  .active {
    background-color: dodgerblue;
  }

  a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }